.section{
    padding:2rem;
    display: flex;
    gap:3.5rem;
    background:#F5F5F5 ;
}
.left{
    width:280px;
}
.right{
    /* border:1px solid red; */
    width: 1000px;
    display: flex;
    gap:2rem;
    flex-direction: column;
}