@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");
.midbox {
  height: 359px;
  width: 1000px;
  padding: 1rem 6rem 1rem 3rem;
  box-sizing: border-box;

  background: #ffffff;

  border-radius: 20px;
}
.parent {
  display: flex;
  align-items: center;
}

.para {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 22px;
}
.seeAll {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #858585;
  cursor: pointer;
}
.data {
  font-family: "Lato";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}
